.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 328px) {
    height: 100%;
    padding: 1rem;
  }
}

.wrapper h1 {
  width: 100%;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  color: var(--red-500);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.563rem;

  @media (max-width: 328px) {
    font-size: 3.125rem;
  }
}

.hidden {
  display: none;
}

.todoapp {
  background: var(--white);
  width: 100%;
  max-width: 650px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 328px) {
    padding: 1rem;
  }
}

.todoapp input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--gray-900);
}

.todoapp input::-moz-placeholder {
  font-weight: 400;
  color: var(--gray-900);
}

.todoapp input::input-placeholder {
  font-weight: 400;
  color: var(--gray-900);
}

.new_todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 0.375rem;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new_todo {
  padding: 1rem 1rem 1rem 3.75rem;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid var(--slate-100);
}

.toggle_all {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle_all + label {
  width: 60px;
  height: 34px;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle_all + label:before {
  content: "❯";
  font-size: 1.375rem;
  color: var(--slate-100);
  padding: 0.625rem 1.688rem 0.625rem 1.688rem;
}

.toggle_all:checked + label:before {
  color: #737373;
}

.todo_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo_list li {
  position: relative;
  font-size: 1.5rem;
  border-bottom: 1px solid #ededed;
}

.todo_list li:last-child {
  border-bottom: none;
}

.todo_list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo_list li.editing .edit {
  display: block;
  width: calc(100% - 43px);
  padding: 0.75rem 1rem;
  margin: 0 0 0 2.688rem;
}

.todo_list li.editing .view {
  display: none;
}

.todo_list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo_list li .toggle {
  opacity: 0;
}

.todo_list li .toggle + label {
  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo_list li .toggle:checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo_list li label {
  word-break: break-all;
  padding: 0.938rem 0.938rem 0.938rem 3.75rem;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}

.todo_list li.completed label {
  color: #cdcdcd;
  text-decoration: line-through;
}

.todo_list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 1.875rem;
  color: #cc9a9a;
  margin-bottom: 0.688rem;
  transition: color 0.2s ease-out;
}

.todo_list li .destroy:hover {
  color: var(--red-500);
}

.todo_list li .destroy:after {
  content: "×";
}

.todo_list li:hover .destroy {
  display: block;
}

.todo_list li .edit {
  display: none;
}

.todo_list li.editing:last-child {
  margin-bottom: -1px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 0.625rem 0.938rem;
  height: 50px;
  text-align: center;
  font-size: 0.938rem;
  border-top: 1px solid var(--slate-100);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);

  @media (max-width: 328px) {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.todo_count strong {
  font-weight: 400;
}

.filters li {
  display: inline;
}

.filters li button {
  color: inherit;
  margin: 0.188rem;
  padding: 0.188rem 0.438rem;
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li button:hover {
  border-color: var(--red-500);
}

.filters li button.selected {
  border-color: var(--red-500);
}

.clear_completed {
  padding: 0.188rem 0.438rem;
  border: none;
  background: transparent;
}

.clear_completed:active {
  text-decoration: none;
  cursor: pointer;
}

.clear_completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.info p {
  color: var(--gray-100);
  font-size: 0.875rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle_all,
  .todo_list li .toggle {
    background: none;
  }

  .todo_list li .toggle {
    height: 40px;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }

  .filters {
    bottom: 10px;
  }
}
